{% extends 'base.html.twig'%}
 {% block title %} 404{% endblock %}
   
  {% block body %}
 <head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body class="background404">
<div class="border2">
<div class="border1">
<div id="container-gameover">

  <!--Pixel Art -->
    <div class="container-pixel">
  <div id="art"></div>
    </div>
  <div class="container-pixel">
  <div id="art"></div>
    </div>
  <div class="container-pixel">
  <div id="art"></div>
    </div>
  
  <h1 id="gameover">Game Over</h1>
  <p class=journey>page indisponible</p>
   <div class="container-pixel-2">
  <div id="art-2"></div>
  </div>
  <a href=""><h3 class="continue">Continue</h3></a>
 {% endblock %}