{% extends 'base.html.twig' %}
{% block title %}Mon Space Invender{% endblock %}
{% block body %}
<section class="body-space-invender">
   <canvas id="gameBoard" ></canvas>
   </section>
{% endblock %}
 