
<form method="post" action="{{ path('admin_lots_delete', {'lotId':lot.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lot.id) }}">
    <button class="inputneonpurple" type="submit">Supprimé</button>
</form>