{% extends 'base.html.twig' %}

{% block title %}Lots{% endblock %}

{% block body %}
    <h1>Editer le lot</h1>
    <section class="container-form-edit-new-lot cadreblue">
    
        {{ include('admin/admin_lots/_form_lots.html.twig', {'button_label': 'Modifier le lot'}) }}

    </section>
{% endblock %}